{deps, [
    {eleveldb, ".*", {git, "git://github.com/SyncFree/eleveldb", {branch, "max_order_comparator"}}},
    {antidote_utils, ".*", {git, "git://github.com/SyncFree/antidote_utils", {branch, "additions_for_antidote_db"}}},
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
]}.

%% Required to assemble a native library like eleveldb when compiling with Rebar3
{overrides, [
    {override, eleveldb, [
        {plugins, [pc]},
        {artifacts, ["priv/eleveldb.so"]},

        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{plugins, [rebar3_proper]}.

{profiles,
    [{test, [{deps, [{proper, "1.1.1-beta"}]}]}]
}.
